@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fffef2;
  --darkBanner: #333333;
}

body {
  background-color: var(--primary);
  font-family: Suisse Regular, sans-serif;
}

.bg-blur {
  background: rgba(0, 0, 0, 0.6);
  z-index: 2147483645;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--darkBanner);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #70706c;
  color: var(--primary);
  border: 1px solid transparent;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid rgba(51, 51, 51, 0.2);
  color: var(--darkBanner);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}

.btn-secondary:hover {
  background-color: var(--darkBanner) !important;
  color: var(--primary);
  border: 1px solid transparent;
}
